nav,
.custom-select,
.city-btn {
    background-color: #FF7550 !important;
}

footer,
.card .price,
.choose-us .fa,
h3 {
    background-color: #2F343A !important;
}

body {
    color: #2F343A !important;
}

nav,
nav a,
nav span,
nav button,
.custom-select,
footer,
footer a,
.carousel,
.city-btn,
.city-card,
.choose-us .fa,
h3 {
    color: white !important;
}

.contact-btn:hover,
footer i,
footer span,
h2,
h4,
.test-card i,
.submit-btn {
    color: #FF7550 !important;
}

.contact-btn:hover,
.submit-btn:hover {
    background-color: white;
}

.form-control:focus {
    border-color: #ff755012;
    box-shadow: 0 0 0 0.2rem #FFE0B2;
}