nav,
.custom-select,
.city-btn {
    background-color: #FF7550 !important;
}

footer,
.card .price,
.choose-us .fa {
    background-color: #2F343A !important;
}

body {
    color: #2F343A !important;
}

nav,
nav a,
nav span,
nav button,
.custom-select,
footer,
footer a,
.carousel,
.city-btn,
.card,
.choose-us .fa,
h3 {
    color: white !important;
}

footer i,
footer span,
h2 {
    color: #FF7550 !important;
}