body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 0.02em;
}

h1 {
    font-family: cooper-black-std, serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 24px !important;
}

h2,
.card,
footer span {
    font-weight: 600;
}

h2 {
    text-transform: uppercase !important;
}

h2,
select>option,
nav li,
.test-card,
.city-card,
.city-btn,
.choose-us,
footer {
    font-family: 'source-sans-pro', Arial, Helvetica, sans-serif !important;
}

nav li {
    font-weight: bold;
}

nav li {
    font-size: 17px !important;
    letter-spacing: 0.03em !important;
    line-height: 1.3em;
}

button {
    border: none !important;
    font-size: 27px !important;
}

h2 i {
    font-size: 14pxd;
}

.card {
    background-position: center;
    background-size: cover;
    height: 170px;
    border: none;
    border-radius: 0px;
    /* to position the price */
    position: relative;
}

.card p {
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.card .price {
    padding: 10px 15px;
    position: absolute;
    right: 0px;
}

.cc1 {
    background-image: url(../assets/img/city/london/big-ben-bridge-castle-city-460672.jpg);
}

.cc2 {
    background-image: url(../assets/img/index-cover.jpg);
}

.cc3 {
    background-image: url(../assets/img/destination_cover.jpg);
}

.parallax {
    background-image: url(../assets/img/index_parallax.jpg);
    background-position: center;
    background-size: cover;
    height: 260px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.choose-us .fa {
    padding: 55px;
    font-size: 35px;
    border-radius: 50%;
    /* reset size to give it a square shape */
    width: 0px;
    height: 0px;
    /* center icon inside */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer i {
    width: 17px;
    height: 17px;
    text-align: center;
    margin-right: 4px;
}

footer {
    line-height: 1.25em;
}

@media (min-width: 768px) {
    .contact-btn {
        border: 2px solid white;
        border-radius: 5px;
    }

    .carousel-item {
        background-position: center;
        background-size: cover;
        height: 400px;
    }

    .carousel1 {
        background-image: url(../assets/img/index-cover.jpg);
    }

    .carousel2 {
        background-image: url(../assets/img/destination_cover.jpg);
    }

    .carousel3 {
        background-image: url(../assets/img/destinations_parallax.jpg);
        background-position: bottom;
    }

    .carousel-item img {
        display: none !important;
    }

    .position {
        position: relative;
    }

    .position>div {
        position: absolute;
        bottom: 5px;
        right: -15px;
    }

    .card {
        height: 140px;
    }
}

@media (min-width: 992px) {
    .contact-btn {
        border: 2px solid white;
        border-radius: 5px;
    }
}