body,
.test-card {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    letter-spacing: 0.02em;
}

h2,
select>option,
nav li,
.city-card,
.city-btn,
.choose-us,
footer
.submit-btn {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.line-height {
    line-height: 1.25em;
}

h1 {
    font-family: cooper-black-std, serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 24px !important;
}

h2,
.city-card,
footer span {
    font-weight: 600;
}

h2,
h4 {
    font-size: 20px !important;
}

h2 {
    text-transform: uppercase !important;
}


nav li {
    font-weight: bold;
}

nav li {
    font-size: 17px !important;
    letter-spacing: 0.03em !important;
    line-height: 1.3em;
}

button {
    border: none !important;
    font-size: 27px !important;
}

h2 i,
a i,
.submit-btn {
    font-size: 14px !important;
}

h3 {
    position: absolute;
    width: 100%;
    left: 0px;
    top: -71px;
    font-size: 26px;
    padding: 15px;
}

.city-card {
    background-position: center;
    background-size: cover;
    height: 170px;
    border: none;
    border-radius: 0px;
    /* to position the price */
    position: relative;
}

.city-card p {
    padding: 10px;
    position: absolute;
    bottom: 0px;
}

.city-card .price {
    padding: 10px 15px;
    position: absolute;
    right: 0px;
}

.parallax {
    background-position: center;
    background-size: cover;
    height: 260px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.choose-us .fa {
    padding: 55px;
    font-size: 35px;
    border-radius: 50%;
    /* reset size to give it a square shape */
    width: 0px;
    height: 0px;
    /* center icon inside */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer i {
    width: 17px;
    height: 17px;
    text-align: center;
    margin-right: 4px;
}

footer {
    line-height: 1.25em;
}

.dest-back-img {
    background-position: center;
    background-size: cover;
    height: 250px;;
}

.form,
iframe {
    box-shadow: 0 0 3px #00000075;
}

.form {
    background-color: rgb(228, 228, 228);
}

small {
    font-size: 12px;
    padding-top: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}

label {
    margin-bottom: 5px;
}

.city-desc p {
    margin-bottom: 10px;
}

.test-card {
    box-shadow: 0 0 15px #2f343a24;
}

.test-card p {
    margin: 16px;
    line-height: 1.25em;
}

.test-card .card-footer {
    background-color: white !important;
    border-top: none; 
}

.test-card i {
    font-size: 30px;
}

.test-card small {
    font-size: 14px;
}

.submit-btn {
    border: 2px solid #FF7550 !important;
}

@media (min-width: 768px) {
    .carousel1 {
        background-image: url(../assets/img/pastille.png), url(../assets/img/index-cover.jpg);
    }

    .carousel2 {
        background-image: url(../assets/img/pastille.png), url(../assets/img/destination_cover.jpg);
    }

    .carousel3 {
        background-image: url(../assets/img/pastille.png), url(../assets/img/destinations_parallax.jpg);
    }
    .carousel-item,
    .dest-back-img {
        background-position: 25rem, center;
        background-size:15%, cover;
        height: auto, 450px;
        background-repeat: no-repeat, no-repeat;
    }
    .carousel-item img {
        display: none !important;
    }
    .position {
        position: relative;
    }
    .position>div {
        position: absolute;
        bottom: 5px;
    }
    .city-card {
        height: 140px;
    }
    h3 {
        width: fit-content;
        font-size: 60px;
        padding: 20px 50px 5px 30px;
        top: -100px;
        right: 75px;
        left: auto;
    }
}

@media (min-width: 992px) {
    nav li {
        margin-left: 20px;
    }
    li a {
        margin-left: 8px !important;
        margin-right: 8px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .underline a:hover {
        border-bottom: 2px solid white !important;
    }

    .contact-btn {
        border: 2px solid white;
        border-radius: 5px;
        transition: color 0.2s, background-color 0.5s;
    }
    .carousel-item {
        height: 750px;
    }
    .city-card {
        height: 190px;
    }
    .parallax-index {
        height: 500px;
    }
    .dest-back-img {
        height: 600px;
    }
}

.best-dest1 {
    background-image: url(../assets/img/city/london/big-ben-bridge-castle-city-460672.jpg);
}

.best-dest2 {
    background-image: url(../assets/img/index-cover.jpg);
}

.best-dest3 {
    background-image: url(../assets/img/destination_cover.jpg);
}

.parallax-index {
    background-image: url(../assets/img/index_parallax.jpg);
}

.destinations {
    background-image: url(../assets/img/destination_cover.jpg);
}

.parallax-dest {
    background-image: url(../assets/img/destinations_parallax.jpg);
}

.london {
    background-image: url(../assets/img/city/london/big-ben-bridge-castle-city-460672.jpg);
}

.contact-img {
    background-image: url(../assets/img/contact_cover.jpg);
}